@import '_variables';

.page {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  margin: $page-margin;

  &__middle {
    flex: 1;
  }

  &__bottom {
    font-size: 0.75rem;
    padding: 1rem;
  }
}
