@import '_variables';

// display
.hidden {
  display: none;
}

// spacing
.container {
  margin-bottom: $page-margin-y;
  margin-top: $page-margin-y;
}

// fonts
.cursive {
  font-family: $font-cursive;
}

.monospace {
  font-family: $font-monospace;
}

.serif {
  font-family: $font-serif;
}

.sans-serif {
  font-family: $font-sans-serif;
}

// alignment
.text-center {
  text-align: center;
}

// colors {
.black {
  color: $color-black;
}
.blue-500 {
  color: $color-blue-500;
}
.gray-500 {
  color: $color-gray-500;
}
.green-500 {
  color: $color-green-500;
}
.orange-500 {
  color: $color-orange-500;
}
.purple-500 {
  color: $color-purple-500;
}
.pink-500 {
  color: $color-pink-500;
}
.red-500 {
  color: $color-red-500;
}
.white {
  color: $color-white;
}
.yellow-500 {
  color: $color-yellow-500;
}

// bg colors
.bg-black {
  background-color: $color-black;
}

.bg-blue-500 {
  background-color: $color-blue-500;
}

.bg-gray-500 {
  background-color: $color-gray-500;
}

.bg-green-500 {
  background-color: $color-green-500;
}

.bg-orange-500 {
  background-color: $color-orange-500;
}

.bg-purple-500 {
  background-color: $color-purple-500;
}

.bg-pink-500 {
  background-color: $color-pink-500;
}

.bg-red-500 {
  background-color: $color-red-500;
}

.bg-white {
  background-color: $color-white;
}

.bg-yellow-500 {
  background-color: $color-yellow-500;
}
