@import '@setitheme/core/styles/scss/_variables.scss';
@import './variables/index.scss';

* {
  box-sizing: border-box;
}

html,
body {
  background: $seti-background;
  color: $seti-text;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: $page-margin;
}

input {
  display: block;
  background: $seti-gray-300;
  border: $seti-gray-500 solid 0.25rem;
  border-radius: 3px;
  padding: $input-padding;

  &:focus {
    background: $seti-gray-100;
    border: $seti-blue-500 solid 0.25rem;
    outline-style: unset;
  }
}

.seti-btn {
  background-color: $seti-gray-500;
  color: $seti-gray-text;
  border: 0;
  border-radius: 0.15rem;
  padding: 0.5rem 1rem;
  transition: ease background 0.5s;

  &:hover {
    background-color: $seti-blue-500;
    cursor: pointer;
  }
}

.section {
  margin: 2rem 0;
}
