@font-face {
    font-family: "seti-icons";
    src: url("/seti-icons/seti-icons.eot?0b4fcd929bfd018cb93a9f35b6608647#iefix") format("embedded-opentype"),
url("/seti-icons/seti-icons.ttf?0b4fcd929bfd018cb93a9f35b6608647") format("truetype"),
url("/seti-icons/seti-icons.woff?0b4fcd929bfd018cb93a9f35b6608647") format("woff"),
url("/seti-icons/seti-icons.woff2?0b4fcd929bfd018cb93a9f35b6608647") format("woff2");
}

i[class^="seti-icons-"]:before, i[class*=" seti-icons-"]:before {
    font-family: seti-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.seti-icons-apple:before {
    content: "\f101";
}
.seti-icons-argdown:before {
    content: "\f102";
}
.seti-icons-asm:before {
    content: "\f103";
}
.seti-icons-audio:before {
    content: "\f104";
}
.seti-icons-babel:before {
    content: "\f105";
}
.seti-icons-bower:before {
    content: "\f106";
}
.seti-icons-bsl:before {
    content: "\f107";
}
.seti-icons-c-sharp:before {
    content: "\f108";
}
.seti-icons-c:before {
    content: "\f109";
}
.seti-icons-cake_php:before {
    content: "\f10a";
}
.seti-icons-cake:before {
    content: "\f10b";
}
.seti-icons-checkbox-unchecked:before {
    content: "\f10c";
}
.seti-icons-checkbox:before {
    content: "\f10d";
}
.seti-icons-cjsx:before {
    content: "\f10e";
}
.seti-icons-clock:before {
    content: "\f10f";
}
.seti-icons-clojure:before {
    content: "\f110";
}
.seti-icons-code-climate:before {
    content: "\f111";
}
.seti-icons-code-search:before {
    content: "\f112";
}
.seti-icons-coffee_erb:before {
    content: "\f113";
}
.seti-icons-coffee:before {
    content: "\f114";
}
.seti-icons-coldfusion:before {
    content: "\f115";
}
.seti-icons-config:before {
    content: "\f116";
}
.seti-icons-cpp:before {
    content: "\f117";
}
.seti-icons-crystal_embedded:before {
    content: "\f118";
}
.seti-icons-crystal:before {
    content: "\f119";
}
.seti-icons-css:before {
    content: "\f11a";
}
.seti-icons-csv:before {
    content: "\f11b";
}
.seti-icons-cu:before {
    content: "\f11c";
}
.seti-icons-d:before {
    content: "\f11d";
}
.seti-icons-dart:before {
    content: "\f11e";
}
.seti-icons-db:before {
    content: "\f11f";
}
.seti-icons-default:before {
    content: "\f120";
}
.seti-icons-deprecation-cop:before {
    content: "\f121";
}
.seti-icons-docker:before {
    content: "\f122";
}
.seti-icons-editorconfig:before {
    content: "\f123";
}
.seti-icons-ejs:before {
    content: "\f124";
}
.seti-icons-elixir_script:before {
    content: "\f125";
}
.seti-icons-elixir:before {
    content: "\f126";
}
.seti-icons-elm:before {
    content: "\f127";
}
.seti-icons-error:before {
    content: "\f128";
}
.seti-icons-eslint:before {
    content: "\f129";
}
.seti-icons-ethereum:before {
    content: "\f12a";
}
.seti-icons-f-sharp:before {
    content: "\f12b";
}
.seti-icons-favicon:before {
    content: "\f12c";
}
.seti-icons-firebase:before {
    content: "\f12d";
}
.seti-icons-firefox:before {
    content: "\f12e";
}
.seti-icons-folder:before {
    content: "\f12f";
}
.seti-icons-font:before {
    content: "\f130";
}
.seti-icons-git_folder:before {
    content: "\f131";
}
.seti-icons-git_ignore:before {
    content: "\f132";
}
.seti-icons-git:before {
    content: "\f133";
}
.seti-icons-github:before {
    content: "\f134";
}
.seti-icons-go:before {
    content: "\f135";
}
.seti-icons-go2:before {
    content: "\f136";
}
.seti-icons-gradle:before {
    content: "\f137";
}
.seti-icons-grails:before {
    content: "\f138";
}
.seti-icons-graphql:before {
    content: "\f139";
}
.seti-icons-grunt:before {
    content: "\f13a";
}
.seti-icons-gulp:before {
    content: "\f13b";
}
.seti-icons-hacklang:before {
    content: "\f13c";
}
.seti-icons-haml:before {
    content: "\f13d";
}
.seti-icons-happenings:before {
    content: "\f13e";
}
.seti-icons-haskell:before {
    content: "\f13f";
}
.seti-icons-haxe:before {
    content: "\f140";
}
.seti-icons-heroku:before {
    content: "\f141";
}
.seti-icons-hex:before {
    content: "\f142";
}
.seti-icons-html_erb:before {
    content: "\f143";
}
.seti-icons-html:before {
    content: "\f144";
}
.seti-icons-ignored:before {
    content: "\f145";
}
.seti-icons-illustrator:before {
    content: "\f146";
}
.seti-icons-image:before {
    content: "\f147";
}
.seti-icons-info:before {
    content: "\f148";
}
.seti-icons-ionic:before {
    content: "\f149";
}
.seti-icons-jade:before {
    content: "\f14a";
}
.seti-icons-java:before {
    content: "\f14b";
}
.seti-icons-javascript:before {
    content: "\f14c";
}
.seti-icons-jenkins:before {
    content: "\f14d";
}
.seti-icons-jinja:before {
    content: "\f14e";
}
.seti-icons-js_erb:before {
    content: "\f14f";
}
.seti-icons-json:before {
    content: "\f150";
}
.seti-icons-julia:before {
    content: "\f151";
}
.seti-icons-karma:before {
    content: "\f152";
}
.seti-icons-kotlin:before {
    content: "\f153";
}
.seti-icons-less:before {
    content: "\f154";
}
.seti-icons-license:before {
    content: "\f155";
}
.seti-icons-liquid:before {
    content: "\f156";
}
.seti-icons-livescript:before {
    content: "\f157";
}
.seti-icons-lock:before {
    content: "\f158";
}
.seti-icons-lua:before {
    content: "\f159";
}
.seti-icons-makefile:before {
    content: "\f15a";
}
.seti-icons-markdown:before {
    content: "\f15b";
}
.seti-icons-maven:before {
    content: "\f15c";
}
.seti-icons-mdo:before {
    content: "\f15d";
}
.seti-icons-mustache:before {
    content: "\f15e";
}
.seti-icons-new-file:before {
    content: "\f15f";
}
.seti-icons-nim:before {
    content: "\f160";
}
.seti-icons-notebook:before {
    content: "\f161";
}
.seti-icons-npm_ignored:before {
    content: "\f162";
}
.seti-icons-npm:before {
    content: "\f163";
}
.seti-icons-nunjucks:before {
    content: "\f164";
}
.seti-icons-ocaml:before {
    content: "\f165";
}
.seti-icons-odata:before {
    content: "\f166";
}
.seti-icons-pddl:before {
    content: "\f167";
}
.seti-icons-pdf:before {
    content: "\f168";
}
.seti-icons-perl:before {
    content: "\f169";
}
.seti-icons-photoshop:before {
    content: "\f16a";
}
.seti-icons-php:before {
    content: "\f16b";
}
.seti-icons-plan:before {
    content: "\f16c";
}
.seti-icons-platformio:before {
    content: "\f16d";
}
.seti-icons-powershell:before {
    content: "\f16e";
}
.seti-icons-prisma:before {
    content: "\f16f";
}
.seti-icons-project:before {
    content: "\f170";
}
.seti-icons-prolog:before {
    content: "\f171";
}
.seti-icons-pug:before {
    content: "\f172";
}
.seti-icons-puppet:before {
    content: "\f173";
}
.seti-icons-python:before {
    content: "\f174";
}
.seti-icons-r:before {
    content: "\f175";
}
.seti-icons-rails:before {
    content: "\f176";
}
.seti-icons-react:before {
    content: "\f177";
}
.seti-icons-reasonml:before {
    content: "\f178";
}
.seti-icons-rollup:before {
    content: "\f179";
}
.seti-icons-ruby:before {
    content: "\f17a";
}
.seti-icons-rust:before {
    content: "\f17b";
}
.seti-icons-salesforce:before {
    content: "\f17c";
}
.seti-icons-sass:before {
    content: "\f17d";
}
.seti-icons-sbt:before {
    content: "\f17e";
}
.seti-icons-scala:before {
    content: "\f17f";
}
.seti-icons-search:before {
    content: "\f180";
}
.seti-icons-settings:before {
    content: "\f181";
}
.seti-icons-shell:before {
    content: "\f182";
}
.seti-icons-slim:before {
    content: "\f183";
}
.seti-icons-smarty:before {
    content: "\f184";
}
.seti-icons-spring:before {
    content: "\f185";
}
.seti-icons-stylelint:before {
    content: "\f186";
}
.seti-icons-stylus:before {
    content: "\f187";
}
.seti-icons-sublime:before {
    content: "\f188";
}
.seti-icons-svg:before {
    content: "\f189";
}
.seti-icons-swift:before {
    content: "\f18a";
}
.seti-icons-terraform:before {
    content: "\f18b";
}
.seti-icons-tex:before {
    content: "\f18c";
}
.seti-icons-time-cop:before {
    content: "\f18d";
}
.seti-icons-todo:before {
    content: "\f18e";
}
.seti-icons-tsconfig:before {
    content: "\f18f";
}
.seti-icons-twig:before {
    content: "\f190";
}
.seti-icons-typescript:before {
    content: "\f191";
}
.seti-icons-vala:before {
    content: "\f192";
}
.seti-icons-video:before {
    content: "\f193";
}
.seti-icons-vue:before {
    content: "\f194";
}
.seti-icons-wasm:before {
    content: "\f195";
}
.seti-icons-wat:before {
    content: "\f196";
}
.seti-icons-webpack:before {
    content: "\f197";
}
.seti-icons-wgt:before {
    content: "\f198";
}
.seti-icons-windows:before {
    content: "\f199";
}
.seti-icons-word:before {
    content: "\f19a";
}
.seti-icons-xls:before {
    content: "\f19b";
}
.seti-icons-xml:before {
    content: "\f19c";
}
.seti-icons-yarn:before {
    content: "\f19d";
}
.seti-icons-yml:before {
    content: "\f19e";
}
.seti-icons-zip:before {
    content: "\f19f";
}
