@import './_typography.scss';

// page spacing
$page-margin-x: 4rem;
$page-margin-y: 2rem;
$page-margin: $page-margin-x $page-margin-y;

// form spacing
$input-margin: 0.5rem;
$input-padding: 1rem 1.5rem;
