.seti-theme-black {
  color: #0e1112;
}
.seti-theme-blue {
  color: #519aba;
}
.seti-theme-gray {
  color: #7494a3;
}
.seti-theme-green {
  color: #8dc149;
}
.seti-theme-orange {
  color: #e37933;
}
.seti-theme-pink {
  color: #f55385;
}
.seti-theme-purple {
  color: #a074c4;
}
.seti-theme-red {
  color: #cc3e44;
}
.seti-theme-yellow {
  color: #cbcb41;
}
.seti-theme-white {
  color: #d4d7d6;
}
.seti-theme-bg-black {
  background-color: #0e1112;
  color: #d4d7d6;
}
.seti-theme-bg-blue {
  background-color: #519aba;
  color: #d4d7d6;
}
.seti-theme-bg-gray {
  background-color: #7494a3;
  color: #d4d7d6;
}
.seti-theme-bg-green {
  background-color: #8dc149;
  color: #0e1112;
}
.seti-theme-bg-orange {
  background-color: #e37933;
  color: #d4d7d6;
}
.seti-theme-bg-pink {
  background-color: #f55385;
  color: #d4d7d6;
}
.seti-theme-bg-purple {
  background-color: #a074c4;
  color: #d4d7d6;
}
.seti-theme-bg-red {
  background-color: #cc3e44;
  color: #d4d7d6;
}
.seti-theme-bg-yellow {
  background-color: #cbcb41;
  color: #0e1112;
}
.seti-theme-bg-white {
  background-color: #d4d7d6;
  color: #0e1112;
}

.seti-icons {
  font-size: 3rem;
}

html, body {
  background: #0e1112;
  color: #d4d7d6;
}

input {
  display: block;
  background: #7494a3;
}